
header * {
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: 1em 0.2em;
}

.single-column {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

input#location-selector {
    font-size: large;
    padding-top: .2em;
    padding-bottom: .2em;
}
